{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block _title %}{% block title %}{% endblock title %} - /var/log/recetas{% endblock _title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/var_log_recetas.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweet-alert.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">/var/log/recetas</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url "home" %}">Home</a></li>
            <li class="dropdown">
            <a href="{% url "recipe_home" %}" >{% trans "Recetas" %}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url "recipe_add" %}">{% trans "Nueva receta" %}</a></li>
              </ul>
            </li>
            <li><a href="{% url "ingredient_list" %}">Ingredientes</a></li>
            <li><a href="{% url "unit_list" %}">Unidades</a></li>
            <li><a href="{% url "unit_group_list" %}">Grupos de Unidades</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      {% block _content %}
      <h1>
        {% block page_title %}Example Base Template{% endblock page_title %}
        <div class="pull-right">{% block page_buttons %}{% endblock page_buttons %}</div></h1>

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
      {% endblock _content %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.1.js'%}"></script>
    <script src="{% static 'js/jquery.form.3.51.0.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweet-alert.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/var_log_recetas.js' %}"></script>
    <script src="{% static 'js/modal_utils.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
