{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Unidades" %}{% endblock page_title %}
{% block title %}{% trans "Unidades" %}{% endblock title %}

{% block page_buttons %}
<a href="{% url "unit_add" %}" title="{% trans "Agregar unidad" %}"><span class="fa fa-plus"></span></a>
{% endblock page_buttons %}

{% block content %}
{% for unit in measureunit_list %}
{% if forloop.first %}
<table class="table">
  <tr class="active">
    <td>{% trans "Unidad" %}</td>
    <td>{% trans "Nombre corto" %}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{{ unit.name }}</td>
    <td>{{ unit.short_name }}</td>
  </tr>
  {% if forloop.last %}
</table>
{% endif %}
{% empty %}
No hay unidades :(
{% endfor %}
{% endblock content %}
{# vim: set ft=htmldjango :#}
