{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles %}
{% block title %}{% trans "Receta" %}: {{ recipe.title }}{% endblock title %}
{% block page_title %}{% trans "Receta" %}: {{ recipe.title }}{% endblock page_title %}

{% block content %}
<h2>{% trans "Ingredientes" %}</h2>
<div id='ingredients-container'>
  {# include "recipe/recipe_edit/ingredients.html" with measured_ingredients=recipe.measuredingredient_set.all #}
  <img src="{% static "img/ajax-loader.gif" %}" />
</div>
<h2>{% trans "Pasos" %}</h2>
<div id='steps-container'>
</div>
{% endblock content %}

{% block extra_js %}
<script>
function reloadIngredientAddForm() {
  $("#ingredient-add-container").load("{% url "recipe_recipe_edit_ingredient_add" recipe.id %}?" + $("#ingredient-add-form").serialize());
}
function reloadIngredients() {
  $("#ingredients-container").load("{% url "recipe_recipe_edit_ingredients" recipe.id %}", function(){
    $("#ingredient-add-btn").click(reloadIngredientAddForm)
 });
}

function submitIngredientAddForm() {
  $.post("{% url "recipe_recipe_edit_ingredient_add" recipe.id %}", $("#ingredient-add-form").serialize(), function(response) {
    if (response == "1") {
      reloadIngredients();
    } else {
      $("#ingredient-add-container").html(response);
      $("#id_ingredient").change(reloadIngredientAddForm)
    }
  })
}

function deleteIngredient(ingredient_id) {
  swal({
    title: "Seguro?",
    text: "Queres borrar ese ingrediente?",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Si, borralo",
  },
  function() {
  $.getJSON("{% url "recipe_recipe_edit_ingredient_delete" recipe.id %}?ingredient_id=" + ingredient_id, function(response) {
    if (!response.success){
      swal("Ooops!", "Algo salió mal borrando el ingrediente: '" + response.error + "'");
    }
    reloadIngredients();
  })
  });
}

$(document).ready(function() {
  reloadIngredients();
})

</script>
{% endblock extra_js %}
{# vim: set ft=htmldjango :#}
